:root {
	--white: #DADCE0;
	--black: #000000;
	--txt--dark-blue: #0c405e;
	--danger--red: #8d3131;
	--select--dark-blue: #115a85;
	--very-light-pink: #1e74a5;
	--text-input-field: #f5eeee;
	--baby-blue: #70C2E5;
	--select-blue: #e3f4fc;
	--shadow-blue: #94cfe9;
	--bg--white: #ffffff;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}