@import '__vars';
.inf-a{
    width: 115px;
    height: 3%;
    margin-left: 1%;
}
.sarea-inf{
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    color: var(--select--dark-blue);
}
.sarea-inf:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}
