@import '__vars';
$mobile:425px;
$tablet:768px;

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--baby-blue);
    position: relative;
    background-color: var(--select-blue);
    text-align: center;
    @media only screen and (max-width:$mobile){
        &{
            width: 425px;
            height: 50px;
        }
    }
    @media only screen and (min-width:$mobile) and (max-width:$tablet){
        width: 100%;
    }
}
.navbar-left {
    display: flex;  
    justify-content: start;
    width: 100%;
    flex-direction: column;
}
.list{
    width: 100%;
    display: flex;
    @media only screen and (max-width: $mobile) {
        &{ display: none;}
        
    }
}
.list-mobile{
    display: none;
    list-style: none;
    @media only screen and (max-width: $mobile) {
        &{ display: flex;}
        
    }

}
.list-mobile-menu{
    display: flex;
    position: absolute;
    top: 100%;
    left: 0%;
    box-sizing: border-box;
    width: 100vw;
    background-color: var(--select-blue);
    flex-direction: column;
    list-style: none;
}
.logo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-items:center;
}

.navbar-left .list {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.x-short {
    text-decoration: none;
    padding: 8px;
    width: 30px;
    height: 20px;
    align-items:center;
    margin-right: 4px;
}

.x-short:hover {
    display:flex;
    border: 1px solid var(--baby-blue);
    color: var(--baby-blue);
}

.short {
    display: flex;
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    width: 60px;
    height: 20px;
    text-align: center;
    margin-right: 4px;
}

.short:hover {
    border: 1px solid var(--baby-blue);
    color: var(--baby-blue);
}
.med {
    display: flex;
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    width: 103px;
    height: 20px;
    text-align: center;
    margin-right: 4px;
}

.med:hover {
    border: 1px solid var(--baby-blue);
    color: var(--baby-blue);
}
.large {
    display: flex;
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    width: 117px;
    height: 20px;
    text-align: center;
    margin-right: 4px;
}

.large:hover {
    border: 1px solid var(--baby-blue);
    color: var(--baby-blue);
}
.e-large {
    display: flex;
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    width: 202px;
    height: 20px;
    text-align: center;
    margin-right: 4px;
}

.e-large:hover {
    border: 1px solid var(--baby-blue);
    color: var(--baby-blue);
}

.dplast{
    margin-left: auto;
}
.dropdown {
    display: flex;
    overflow: hidden;
}

.dropdown .dropbtn {
    background-color: transparent;
    margin: 0;
    align-items: center;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    height: 30px;
    width: 70px;
}

/* Style the dropdown content (hidden by default)
  display: flex;
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    width: 182px;
    height: 20px;
    text-align: center;
    margin-right: 4px;
}

.e-large:hover {
    border: 1px solid var(--baby-blue);
    color: var(--baby-blue);
}

*/
.dropdown-content {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 95%;
    right: 5%;
    width: 90px;
    height: 40px;
}
.dropdown-content-p {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 115%;
    width: 105px;
    height: 20px;
    box-shadow: var(--baby-blue);
    z-index: 1;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    margin-right: 4px;
    background-color: var(--select-blue);    
    cursor: pointer;
}

.dropdown-content-a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 3%;
    width: 105px;
    height: 30px;
    box-shadow: var(--baby-blue);
    z-index: 1;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    margin-right: 4px;
    background-color: var(--select-blue);    
}



/* Style the links inside the dropdown */
.dropdown-content a p {
    float: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white); 
    text-decoration: none;
    display: block;
    text-align: center;
}



/*@media (max-width: 667px) {
    nav{
        width: 50%;
    }
    .navbar-left {
        width: 200px;
        display:flex;
        flex-direction: column; 
        align-items:left;
    }
    .list{
        display:flex;
        flex-direction:column;    
    }
    .dplast{
        margin-left: 0%;
    }
    .reg-logo {
        display: block;
        height: 70px;
        width: 280px;
        margin-top: 10%;
    }

    .inp-name,
    .inp-lname,
    .inp-sch,
    .inp-emailreg,
    .inp-passreg,
    .inp-cpassreg {
        font-size: 16px;
    }

    .name-lab {
        width: 30%;
    }

    .lname-lab {
        width: 30%;
    }

    .labelreg {
        width: 56%;
    }

    .labelcxreg {
        width: 38%;
    }

    .clabelcxreg {
        width: 76%;
    }

}

@media (min-width: 668px) and (max-width: 1023px) {
    nav{
        width: 100%;
    }
    .Register-container {
        margin-top: 5%;
        width: 500px;
        height: max-content;
    }
    .dplast{
        margin-left: 0%;
    }
    .reg-logo {
        display: block;
        margin-top: 15%;
    }

    .inp-name,
    .inp-lname,
    .inp-sch,
    .inp-emailreg,
    .inp-passreg,
    .inp-cpassreg {
        font-size: 16px;
    }

    .name-lab {
        width: 15%;
    }

    .lname-lab {
        width: 17%;
    }

    .labelreg {
        width: 36%;
    }

    .labelcxreg {
        width: 20%;
    }

    .clabelcxreg {
        width: 36%;
    }

}

@media (min-width: 1024px) {
    .Register-container {
        width: 500px;
        height: min-content;
    }

}*/