@import '__vars';
.inf-d{
    margin-left: 20%;
    width: 10%;
    height: 3%;
}
.inf-logo{
    margin-top: 2%;
    width: 36%;
    height: 35%;
    background-color: var(--shadow-blue);
    border-radius: 0.2rem;
    cursor: pointer;
}