@import '__vars';
.inf-d{
    margin-left: 12%;
    width: 115px;
    height: 3%;
}
.inf-logo{
    margin-top: 2%;
    width: 25px;
    height: 25px;
    background-color: var(--shadow-blue);
    border-radius: 0.2rem;
    cursor: pointer;
}