@import '__vars';
$mobile:425px;
$tablet:768px;

.Bottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    align-items: center;
}

.logo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 200px;
    margin-top: 3%;
    margin-bottom: 2%;
}

.form-login {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp-email {
    display: flex;
    margin-bottom: 0%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 90%;
}

.inp-emailtxt {
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 95%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}

.labele {
    position: relative;
    width: 23vh;
    font-size: 4px;
    transition: 0.5s;
    margin-left: 15%;
    opacity: 0;
}

.inp-emailtxt:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-emailtxt:focus+.labele {
    transform: translateY(-370%);
    top: -80%;
    color: var(--baby-blue);
    background-color: var(--bg--white);
    opacity: 1;
    font-size: 14px;
    height: 12px;
}

.inp-emailtxt:focus::placeholder {
    color: transparent;
    opacity: 0;
}


.inp-passw {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 95%;
    padding-top: 2%;
}

.inp-passtxt {
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 90%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}

.labelcx {
    position: relative;
    width: 15vh;
    font-size: 4px;
    transition: 0.5s;
    margin-left: 15%;
    opacity: 0;
}

.inp-passtxt:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-passtxt:focus+.labelcx {
    transform: translateY(-255%);
    top: -80%;
    color: var(--baby-blue);
    background-color: var(--bg--white);
    opacity: 1;
    font-size: 14px;
}

.inp-passtxt:focus::placeholder {
    color: transparent;
    opacity: 0;
}

.error-message {
    font-size: 12.5px;
    font-weight: bold;
    color: var(--danger--red);
}

.btnlogin {
    width: 90%;
    height: 40px;
    display: flex;
    padding: 15px 30px;
    border: none;
    background-color: var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    &:disabled{
        opacity: 0.5;
        cursor: none;
        &:hover{
            background-color: var(--baby-blue);
        }
    }
}

.btnlogin:hover {
    background-color: var(--shadow-blue);
    transform: translateY(-2px);
}

.txtcuenta {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

.txtreg {
    color: var(--very-light-pink);
    font-size: 14px;
    font-weight: bold;

}

.endlogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;

}

.txtservidor {
    width: 20%;
    display: flex;
    cursor: pointer;
    color: var(--select--dark-blue);
    font-weight: bold;
    font-size: 14px;
}

.imapp {
    width: 10%;
    display: flex;
    cursor: pointer;
}

.imapptx {
    width: 10%;
    opacity: 0;
    font-size: 10px;
    color: var(--txt--dark-blue);
    transform: translateX(-60px);
}

.imapp:hover+.imapptx {
    opacity: 1;
    transform: translateY(20px);
}

@media (max-width: $mobile) {
    .Login-container {
        width: 280px;
        height: max-content;
        margin-left: 4%;
    }

    .logo-login {
        display: block;
        margin-top: 10%;
    }

    .inp-email,
    .inp-passw {
        font-size: 16px;
    }

    .labele {
        width: 56%;
    }

    .labelcx {
        width: 12vh;
    }

    .endlogin {
        width: 280px;
        height: fit-content;
    }

    .txtservidor {
        margin-left: 5%;
        margin-right: 30%;
    }

    .imapp {
        display: block;
        width: 40px;
        height: 45px;
        margin-left: 10vh;
    }
}

@media (min-width: $mobile) and (max-width: $tablet) {
    .Login-container {
        margin-top: 5%;
        width: 500px;
        height: max-content;
    }

    .logo-login {
        display: block;
        margin-top: 15%;
    }

    .labele {
        width: 15vh;
    }

    .labelcx {
        width: 9vh;
    }

    .inp-email,
    .inp-passw {
        font-size: 16px;
    }

    .endlogin {
        width: 500px;
        height: fit-content;
    }

    .txtservidor {
        margin-left: 1%;
        margin-right: 30%;
    }

    .imapp {
        display: block;
        width: 70px;
        height: 75px;
        margin-left: 10vh;
    }

}

@media (min-width: 1024px) {
    .Login-container {
        width: 500px;
        height: min-content;
    }

    .imapp {
        width: 60px;
        height: 65px;
        margin-left: 10vh;
    }

    .txtservidor {
        margin-left: 3%;
        margin-right: 25%;
    }
}