.Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background-color: #faf8e2;
    
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius:50%;
    margin-top: 10px;
}

.logotxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 120px;
}
  
.form {
	display: flex;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

  #inputContainer {
    position: relative;
    height: 45px;
    margin-bottom: 17px;
    justify-content: space-evenly;
  }

   .label {
    position: relative;
    width: fit-content;
    top: -50%;
    color: #DADCE0;
    font-size: 14px;
    transition: 0.5s;
    margin-left: 2%;
  } 
  .labelcx {
    position: relative;
    width: fit-content;
    top: -50%;
    transform: translateY(-100%);
    color: #DADCE0;
    font-size: 14px;
    transition: 0.5s;
    margin-left: 2%;
  } 
.inp-email{
    display: flex;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: auto;
    padding-top: 2%;
}
.inp-emailtxt{
    display: flex;
    border: 1px solid #f5eeee;
    height: 30px;
    width: auto;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}

.inp-emailtxt:focus  {
    border: 3px solid #70C2E5;
    box-shadow: 2px 2px 0.5px 0.5px #c6e4f1;   
}

.inp-emailtxt:focus + .label {
    transform: translateY(-120%);
    top: -90%;
    color: #70C2E5;
    background-color: #ffffff;
}
.inp-emailtxt:focus::placeholder{
    color: transparent;
    opacity: 0;
} 

.inp-passw{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%
}
.inp-passtxt{
    display: flex;
    border: 1px solid #f5eeee;
    height: 30px;
    width: auto;
    border-radius: 0.5rem ;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.inp-passtxt:focus  {
    border: 3px solid #70C2E5;
    box-shadow: 2px 2px 0.5px 0.5px #c6e4f1;   
}

.inp-passtxt:focus + .labelcx {
    transform: translateY(-120%);
    top: -85%;
    color: #70C2E5;
    background-color: #ffffff;;
}
.inp-passtxt::placeholder{
    color: transparent; 
    opacity: 0;
}

.btnlogin{
    width: 90%;
    display: flex;
    padding: 15px 30px;
    border: none;
    background-color: #70C2E5;
    box-shadow: 2px 2px 0.5px 0.5px #c6e4f1;
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
}
.btnlogin:hover {
    background-color: #c6e4f1;
    transform: translateY(-2px);
  }
  
.txtcuenta{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.txtreg{
    color: #70C2E5;
 
}
.endlogin{display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.txtservidor{
    cursor: pointer;
    color: #70C2E5;
    margin-left: 10px;
    row-gap: 1;
}
.imapp{
    cursor: pointer;
    width: 45%; 
    height:45%;
 
}


@media (max-width: 640px) {
	.logo {
		display: block;
	}
}