@import '__vars';

.Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 100%;
    background-color: transparent;
}

.logo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 200px;
    margin-top: 5%;
}

.form-login {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.inp-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 80%;
    padding-top: 2%;
}
.inp-emailtxt {
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 80%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.labele {
    position: relative;
    width: 37%;
    font-size: 14px;
    transition: 0.5s;
    margin-left: 15%;
    opacity: 0;
}

.inp-emailtxt:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-emailtxt:focus+.labele {
    transform: translateY(-255%);
    top: -80%;
    color: var(--baby-blue);
    background-color: var(--bg--white);
    opacity: 1;
}

.inp-emailtxt:focus::placeholder {
    color: transparent;
    opacity: 0;
}


.inp-passw {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 80%;
    padding-top: 2%;
}
.inp-passtxt {
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 80%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.labelcx {
    position: relative;
    width: 37%;
    font-size: 14px;
    transition: 0.5s;
    margin-left: 15%;
    opacity: 0;
}

.inp-passtxt:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-passtxt:focus+.labelcx {
    transform: translateY(-255%);
    top: -80%;
    color: var(--baby-blue);
    background-color: var(--bg--white);
    opacity: 1;
}

.inp-passtxt:focus::placeholder {
    color: transparent;
    opacity: 0;
}

.error-message{
    font-size: 12.5px;
    font-weight: bold;
    color: var(--danger--red);
}

.btnlogin {
    width: 90%;
    height: 25%;
    display: flex;
    padding: 15px 30px;
    border: none;
    background-color: var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
}

.btnlogin:hover {
    background-color: var(--shadow-blue);
    transform: translateY(-2px);
}

.btnregister {
    width: 73%;
    height: 7%;
    display: flex;
    padding: 15px 30px;
    border: none;
    background-color: var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
    color: var(--white);
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btnregister:hover {
    background-color: var(--shadow-blue);
    transform: translateY(-2px);
}

.txtcuenta {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

.txtreg {
    color: var(--very-light-pink);
    font-size: 14px;
    font-weight: bold;

}

.endlogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.txtservidor {
    cursor: pointer;
    color: var(--select--dark-blue);
    margin-left: 15%;
    row-gap: 1;
    font-weight: bold;
    font-size: 14px;
}

.imapp {
    display: flex;
    cursor: pointer;
    width: 15%;
    height: 15%;
    margin-left: 10%;
}
.imapptx{
    opacity: 0;
    font-size: 10px;
    color: var(--txt--dark-blue);
    transform: translateX(-60px);
}

.imapp:hover + .imapptx{
    opacity: 1;
    transform: translateY(20px);
}


@media (max-width: 640px) {
    .logo-login {
        display: block;
        margin-top: 10%;
    }

    .inp-email,
    .inp-passw {
        font-size: 16px;
    }
}