@import '__vars';

.bodyah {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100%;
    padding-top: 5%;
}

.modal-container {
    position: absolute;
    padding: 2% 2% 2% 2%;
    margin: 0;
    width: 100%;
    height: max-content;
    background-color: var(--white);
    border: 1px solid var(--baby-blue);
    border-radius: 8px;
    cursor: pointer;
    color: var(--very-light-pink);
    display: flex;
    flex-direction: column;
}

.mat-x {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 85%;
    margin-top: 1%;
}

.letter-modal {
    float: left;
    margin-left: 7%;
    font-size: 28px;
}

.letter-imodal {
    float: left;
    margin-left: 7%;
    font-size: 28px;
    margin-right: 55%;
}

.list-subj {
    list-style: none;

}

.close-btn {
    color: var(--select--dark-blue);
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 2%;
    margin-top: 1%;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--danger--red);
    cursor: pointer;
    text-decoration: none;
}

.lo-tex {
    display: flex;
    flex-direction: row;
}

.txt-dud {
    width: 80%;
}

.txt-dudsubj {
    font-size: 17px;
    margin-left: 20px;
}

.subj-a {
    font-weight: bold;
}

.txr-subj {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-left: 40%;
}

.txt-f {
    margin-top: 10%;
    margin-left: 9%;
    width: 50%;
    font-weight: bold;
    color: var(--select--dark-blue);
    text-align: center;
    float: left;
}

.hi {
    float: right;
    flex-direction: column;
    align-items: center;
    width: 17%;
    height: 17%;
    border-radius: 50%;
    margin-top: 10px;
    margin: auto;
}

.solve {
    float: right;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 20%;
    margin-top: 10px;
    margin: auto;
}

.bnt-quest {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.btn-modalqt {
    width: 300px;
    height: 25%;
    display: flex;
    padding: 15px 30px;
    border: none;
    background-color: var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
}

.btn-modalqt:hover {
    background-color: var(--shadow-blue);
    transform: translateY(-2px);
}

.questionh {
    display: flex;
    width: 60px;
    height: 50px;
    margin-left: 15%;
    cursor: pointer;
}

.btn-modal {
    width: 90%;
    height: 25%;
    display: flex;
    padding: 15px 30px;
    border: none;
    background-color: var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
}

.btn-modal:hover {
    background-color: var(--shadow-blue);
    transform: translateY(-2px);
}


@media (max-width: 640px) {
    .modal-container {
        position: absolute;
        padding: 2% 2% 2% 2%;
        margin: 0;
        width: 100%;
        height: max-content;
        background-color: var(--white);
        border: 1px solid var(--baby-blue);
        border-radius: 8px;
        cursor: pointer;
        color: var(--very-light-pink);
        display: flex;
        flex-direction: column;
    }

    .hi {
        width: 50%;
    }
}