@import '__vars';
$mobile:425px;
$tablet:768px;

.myacc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.imac{
    width: 100%;
    display: contents;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-studentchange{
    width: 30%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
    align-items: center;
    text-align: center;
}
.txt-infochange{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: var(--bg--white);
}
.lnamechange{
    text-align: center;
    color: var(--baby-blue);
    text-decoration: underline;
    font-family: cursive;
    font-weight: bold;
    font-size: 18px;
    
}
.namechange{
    text-align: center;
    color: var(--baby-blue);
    font-family: cursive;
    font-weight: bold;
    font-size: 18px;
    
}
.mac-logotxt{
    width: 35%;
}
.formacp{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: max-content;
    margin-top: 1%;
}
.ac-logo{
    margin-top: 2%;
    width: 50%;
    height: 60%;
}
.fomac{
    display: flex;
    width: 90%;
    margin-right: 2%;
}

.form-acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.inp-actname {
    display: flex;
    margin-bottom: 0%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 90%;
}

.inp-actnametxt{
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 95%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.nameact-lab {
    position: relative;
    width: 7vh;
    font-weight: bold;
    font-size: 4px;
    transition: 0.5s;
    margin-left: 15%;
    opacity: 0;
}

.inp-actnametxt:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-actnametxt:focus+.nameact-lab {
    transform: translateY(1%);
    top: -80%;
    color: var(--baby-blue);
    background-color: var(--bg--white);
    opacity: 1;
    font-size: 14px;
}

.inp-actnametxt:focus::placeholder {
    color: transparent;
    opacity: 0;
}

.inp-actlname {
    display: flex;
    margin-bottom: 0%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 90%;
}

.inp-actlnametxt{
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 95%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.lnameact-lab {
    position: relative;
    width: 7vh;
    font-weight: bold;
    font-size: 4px;
    transition: 0.5s;
    margin-left: 15%;
    opacity: 0;
}

.inp-actlnametxt:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-actlnametxt:focus+.lnameact-lab {
    transform: translateY(1%);
    top: -80%;
    color: var(--baby-blue);
    background-color: var(--bg--white);
    opacity: 1;
    font-size: 14px;
}

.inp-actlnametxt:focus::placeholder {
    color: transparent;
    opacity: 0;
}

.sh-gr{
    display: flex;
    flex-direction: row;
}

.inpact-sch {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 40%;
}

.schact-lab {
    color: var(--very-light-pink);
    font-size: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.schact-ch {
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 90%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    color: var(--select--dark-blue);
}

.schact-ch:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-emailact {
    display: flex;
    margin-bottom: 0%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 90%;
    margin-top: 1%;
}

.inp-emailtxtact{
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 95%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.labelact {
    position: relative;
    width: 13vh;
    font-weight: bold;
    font-size: 4px;
    transition: 0.5s;
    margin-left: 15%;
    opacity: 0;
}

.inp-emailtxtact:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-emailtxtact:focus+.labelact {
    transform: translateY(1%);
    top: -80%;
    color: var(--baby-blue);
    background-color: var(--bg--white);
    opacity: 1;
    font-size: 14px;
}

.inp-emailtxtact:focus::placeholder {
    color: transparent;
    opacity: 0;
}

.inp-passact {
    display: flex;
    margin-bottom: 0%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 90%;
}

.inp-passtxtact{
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 95%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.labelcxact {
    position: relative;
    width: 9vh;
    font-weight: bold;
    font-size: 4px;
    transition: 0.5s;
    margin-left: 15%;
    opacity: 0;
}

.inp-passtxtact:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-passtxtact:focus+.labelcxact {
    transform: translateY(1%);
    top: -70%;
    color: var(--baby-blue);
    background-color: var(--bg--white);
    opacity: 1;
    font-size: 14px;
}

.inp-passtxtact:focus::placeholder {
    color: transparent;
    opacity: 0;
}
.inp-cpassact {
    display: flex;
    margin-bottom: 0%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 90%;
}

.inp-cpasstxtact{
    border: 1px solid var(--text-input-field);
    height: 30px;
    width: 95%;
    border-radius: 0.5rem;
    padding: 0.5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.clabelcxact {
    position: relative;
    width: 15vh;
    font-weight: bold;
    font-size: 4px;
    transition: 0.5s;
    margin-left: 15%;
    opacity: 0;
}

.inp-cpasstxtact:focus {
    border: 3px solid var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
}

.inp-cpasstxtact:focus+.clabelcxact {
    transform: translateY(1%);
    top: -70%;
    color: var(--baby-blue);
    background-color: var(--bg--white);
    opacity: 1;
    font-size: 14px;
}

.inp-cpasstxtact:focus::placeholder {
    color: transparent;
    opacity: 0;
}
.error-message{
    font-size: 12.5px;
    font-weight: bold;
    color: var(--danger--red);
}

.btnact {
    width: 90%;
    height: 40px;
    display: flex;
    padding: 15px 30px;
    border: none;
    background-color: var(--baby-blue);
    box-shadow: 2px 2px 0.5px 0.5px var(--shadow-blue);
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    &:disabled{
        opacity: 0.5;
        cursor: none;
        &:hover{
            background-color: var(--baby-blue);
        }
    }
}
.btnac:hover {
    background-color: var(--shadow-blue);
    transform: translateY(-2px);
}
